{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div id="box" class="container">
	<h1>{{ question.question_text }}</h1>

	{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }} </label>
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }} ">
		<br>
		{% endfor %}
		<br>
		<button type="submit" class="btn btn-light" value="Vote">Vote</button>
	<!-- 	<input type="submit" value="Vote"> -->
	</form>
</div>